[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
notebook = "jupyter-lab"
voila = "voila mainpage.ipynb"
reset-db = "rm database.db"

[packages]
jupyterlab = "*"
notebook = "*"
voila = "*"
plotly = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
